.user-container {
    border: 1px solid #333;
    border-top: 0;
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-container h1 {
    font-size: 20px;
    margin-top: 20px;
}

.user-inputs-input-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file {
    flex-direction: column;
    margin-top: 30px;
}

.file input {
    margin-top: 10px;
}

.user-inputs-input-area h3 {
    width: 100px;
}

.user-inputs {
    margin-top: 100px;
}

.user-inputs-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
}

.user-inputs-buttons button {
    width: 150px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}